section {
    height: 300px;
}
.navbar {
    background-color: red;
    display: inline;
}
.navs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.heading, li {
    display: inline;
    
}
.sign-in, .profile{
    float: right;
    margin-right: 20px;
}
@media (min-width: 1200px){
    .container {
        display: grid;
        grid-template-columns: auto 500px;
        
    }
}

.mainbar {
    background-color: rgb(206, 206, 39);
}

.sidebar {
    background-color: blueviolet;
}